/* Colors Pallete*/
:root {
  --dark-blue1: #06283D;
  --dark-blue2: #0A4D68;
  --blue:       #088395;
  --light-blue: #05BFDB; 
  --cyan:       #00FFCA;
  
  --snow:       #F6F1F1;
  --beige:      #FFDB89;
  --light-beige:#FFF6C3;
  --yellow:     #FCE22A;
  
  --dark-red:   #850000;
  --red:        #DC0000;
  --light-red:  #ED2B2A;
  
  --dark-brown: #1A120B;
  --gray:       #E4DCCF;
}

html {
    width: 100%;
    height: 100%;
    background: url(https://images.nightcafe.studio/jobs/VpSzasMCnzpftISyjGmh/VpSzasMCnzpftISyjGmh--2--0ekpk_4x.jpg?tr=w-1600,c-at_max) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    font-family: 'Bruno Ace SC', sans-serif;
}



.container {
  position: absolute;
  top: 20%;
  left: 5%;
  height: 80%;
  width: 80%;
  background-color: var(--light-blue);
}

#massive-grid {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.square {
  border: 1px solid var(--dark-brown);
}

.square.path {
  background: var(--yellow);
}

.square.highlight {
  background: var(--dark-brown);
}

.square.clicked {
  background: var(--dark-blue1);
}

.square.start {
  background-image: url("https://i.pinimg.com/originals/40/9c/e5/409ce5d04f13cffc25f7626ecee4283a.gif");
  background-size: cover;
  background-color: var(--dark-blue1);
}

.square.end {
  background-image: url("https://media.istockphoto.com/id/1215682057/pt/vetorial/vector-pixel-art-isolated-treasure-chest.jpg?s=170667a&w=0&k=20&c=HrmOqhX0l9bUAPcHBMFEbXCMh6VZZMnkxZpNWarYfGg=");
  background-size: cover;
  background-color: var(--dark-blue1);
}
